body {
  background-color: rgb(222, 211, 211);
  position: relative;
  overflow-x: hidden;
  font-family: "Poppins";
  scroll-behavior: smooth;
}

.circle {
  position: absolute;
  overflow-x: hidden;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.5;
  z-index: -1;
}

.circle1 {
  background-color: rgb(139, 226, 218);
  width: 40vw;
  height: 20vw;
  top: -10vw;
  left: -10vw;
}

@media (max-width: 768px) {
  .circle1 {
    width: 70vw;
    height: 50vw;
    top: -20vw;
    left: -20vw;
  }
}
